<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>HOME</title>
</head>

<body>
    <div class="main-container">

        <head>
            <div class="navigation-bar">
                <div class="logo">
                    <a href="index.html">
                        <img src="../public/images/logo1.jpg" alt="logo" class="logo-img">
                    </a>
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="navigation-bar-lists">
                    <li class="lists"><a href="./index.html" class="home">HOME</a></li>
                    <li class="lists"><a href="./services.html" class="services">SERVICES</a></li>
                    <li class="lists"><a href="./gallery.html" class="galllery">GALLERY</a></li>
                    <li class="lists"><a href="./aboutUs.html" class="about">ABOUT US</a></li>
                    <li class="lists"><a href="./contactUs.html" class="contanct">CONTACT US</a></li>
                </ul>
            </div>
        </head>
        <div class="main-container-1 " id="relays">
            <div class="cover-image-1 ">
                <img src="../public/images/logo.jpg" alt="relay" class="image">
            </div>
            <div class="overRelay"></div>
            <div class="content form-content">
                <form action="#" class="form">
                    <div class="inputs">
                        <div class="name">
                            <label for="name">NAME</label>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="company">
                            <label for="comany name">COMPANY NAME</label>
                            <input type="text" placeholder="Company Name">
                        </div>
                    </div>
                    <label for="message">MESSAGE</label>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <div class="button"><a href="#">SUBMIT</a></div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="rights">&copy; ALL RIGHTS RESERVED 2021</div>
            <div class="footer-logo">
                <img src="../public/images/logo.jpg" alt="LOGO">
            </div>
            <div class="socilamedia">LinkedIn</div>
        </div>
    </div>
    <script src="../public/js/index.js"></script>
</body>

</html>