<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>HOME</title>
</head>

<body>
    <div class="main-container">

        <head>
            <div class="navigation-bar">
                <div class="logo">
                    <a href="index.html">
                        <img src="../public/images/logo1.jpg" alt="logo" class="logo-img">
                    </a>
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="navigation-bar-lists">
                    <li class="lists"><a href="./index.html" class="home">HOME</a></li>
                    <li class="lists"><a href="./services.html" class="services">SERVICES</a></li>
                    <li class="lists"><a href="./gallery.html" class="galllery">GALLERY</a></li>
                    <li class="lists"><a href="./aboutUs.html" class="about">ABOUT US</a></li>
                    <li class="lists"><a href="./contactUs.html" class="contanct">CONTACT US</a></li>
                </ul>
            </div>
        </head>
        <div class="autoSlider">
            <div class="overRelay"></div>
            <div class="we-do">
                <h1 class="title">Testing of a switchgear</h1>
            </div>
            <img src="../public/images/site/SLIDE/SLIDE1.jpg" alt="SLIDE" class="slide">
            <div class="scrollTo"><a href="#pt">&dArr;</a></div>
        </div>
        <div class="main-container-1" id="pt">
            <img src="../public//images/site/PT/PT1.jpg" alt="PT">
        </div>
    </div>
    <script src="../public/js/index.js"></script>
</body>

</html>