<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>HOME</title>
</head>

<body>

    <head>
        <div class="navigation-bar">
            <div class="logo">
                <a href="index.html">
                    <img src="../public/images/logo1.jpg" alt="logo" class="logo-img">
                </a>
            </div>
            <ul class="navigation-bar-lists">
                <li class="lists"><a href="./index.html" class="home">HOME</a></li>
                <li class="lists"><a href="./services.html" class="services">SERVICES</a></li>
                <li class="lists"><a href="./gallery.html" class="galllery">GALLERY</a></li>
                <li class="lists"><a href="./aboutUs.html" class="about">ABOUT US</a></li>
                <li class="lists"><a href="./contactUs.html" class="contanct">CONTANCT US</a></li>
            </ul>
        </div>
    </head>
    <script src="../public/js/index.js"></script>
</body>

</html>