/*DECLARE all colours*/

:root {
    --overRelay: rgba(21, 56, 76, 0.7);
    --body_text: rgba(255, 255, 255, 0.7);
    --heading_text: rgb(15, 214, 240);
    --button: rgba(15, 214, 240, 1);
    --navigation: rgba(21, 56, 76, 0.7);
    --navigation-list: white;
    --activeLink: #135578;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--overRelay);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--button);
    border-radius: 1rem;
}

.main-container {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-container-1,
.main-container-2,
.main-container-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.cover-image,
.cover-image-1,
.cover-image-2,
.cover-image-3 {
    position: absolute;
    height: 100vh;
    width: 60%;
    background-position: right;
    left: 43%;
    top: -10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover-image-2 {
    background-image: url('../images/SWITCHGEAR.jpg');
    top: 0%;
}

.cover-image,
.cover-image-1 {
    background-image: url('../images/transformer-768x796.jpg');
}

.cover-image-3 {
    background-image: url('../images/relay.jpg');
    top: 0%;
}

.overRelay {
    position: absolute;
    z-index: 2;
    width: inherit;
    height: 100vh;
    background-color: var(--overRelay);
    animation: overRelayOpacity 0.8s ease-in-out 1;
}

.content {
    display: flex;
    flex-direction: column;
    transform: translate(20%, 40%);
    z-index: 3;
    width: 50%;
    animation: overRelayOpacity 2s ease-in-out 1;
}

.title {
    font-size: 4.8rem;
    color: var(--heading_text);
    margin: 0 0 1rem 0;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.little_about_us {
    font-size: 1.8rem;
    max-width: 50ch;
    line-height: 150%;
    color: var(--body_text);
    margin: 0 0 1rem;
}

.button a:link,
.button a:visited {
    width: 24.6rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button);
    color: var(--navigation-list);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3.1rem;
}


/*NAVIGATION bar styles */

.navigation-bar {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    z-index: 4;
    background-color: var(--navigation);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 1rem;
    width: 15rem;
    height: 5rem;
    border-radius: 0.3rem;
}

.logo-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0.3rem;
    cursor: pointer;
}

.navigation-bar-lists {
    list-style: none;
    width: 82.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.lists {
    width: 15.7rem;
    height: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists a:link,
.lists a:visited {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    letter-spacing: .15rem;
    font-weight: bold;
    color: var(--navigation-list);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists:last-child {
    width: 18rem;
    background-color: var(--button);
}

.active {
    background-color: var(--activeLink);
}


/* ANIMATIONS all containers requiring */

@keyframes overRelayOpacity {
    from {
        widhth: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 100%;
    }
}


/* SERVICES PAGE */